*{ padding: 0; margin: 0; outline: none; font-size: 12px; border: none;  }
body{ background: url(../images/body-bg.png) repeat transparent; -webkit-user-select: none; }

#icon-list{ position: relative; }

.folder-icon{ box-shadow:0px 10px 20px rgba(0,0,0,0.5); margin: 8px; position: relative; background:url(../images/bg.png) repeat transparent; border: 2px solid #cdcdcd; width: 68px; height: 68px; border-radius: 8px; }
.icon{ cursor: pointer; z-index: 1; position: absolute; top: 30px; left: 20px; height: 110px; width: 88px; overflow: hidden; text-align: center; color: #dadada; }

.message-icon{ overflow: hidden; margin: 8px; cursor: pointer; position: relative; background:url(../images/message-1.png) no-repeat transparent; padding: 2px; width: 68px; height: 68px; border-radius: 8px; }
.icon-text{ height: 22px; line-height: 22px; }

#dark{ z-index: 4; position: relative; top: 145px; left: 0; width: 100%; border-top: 1px solid #5f5f5f; }
#app-container{ background:url(../images/bg.png) repeat transparent; height: 300px; width: 100%; color: #ccc; border-bottom: 1px solid #5f5f5f; }
#corner{ z-index: 4; position: absolute; top: -27px; left: 35px; background:url(../images/corner.png) no-repeat transparent; width: 51px; height: 27px; }
#corner-inner{  z-index: 4; position: absolute; bottom: 0; left: 37px; background:url(../images/corner-inner.png) no-repeat transparent; width: 47px; height: 24px; }
#dark-title{ padding-left: 100px; font-size: 18px; font-weight: bold; color: #fff; height: 36px; line-height: 36px; text-shadow: #000 1px 1px 12px; }

#mask{ top: 0; left: 0; z-index: 2; position: fixed; height: 100%; width: 100%; background-color: #111; opacity: 0.6; }


