*{ padding: 0; margin:0; outline: none; border: none; font: 14px/1.4 "Helvetica Neue", "Lucida Grande", "Arial"; font-size: 14px; line-height: 1.5; }
html{ background: url(../images/bg.jpg); }
body{ background-color: rgba(150,150,150,0.1); }